# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
config.cpython-*.pyc

# Virtualenv
env/
venv/
ENV/

# VSCode
.vscode/
.env
# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db

# Jupyter
.ipynb_checkpoints/

# Other
*.sqlite3
